@import '../../theme/placeholders.scss';

page-login {
    .login-wrapper {
    padding-top: 86px;
    height: 100%;
    ion-list {
        &.form {
            ion-item {
                background: transparent;
            }
        }
    }
    ion-img {
      min-width: 180px;
      min-height: 177px;
      background: transparent;
      margin-bottom: 30px;
    }

    h6.forget-pass {
        text-transform: capitalize;
        font-size: 14px;
        margin-top: 38px;
        margin-bottom: 38px;
        a {
            color: #648aff;
            text-decoration: none;
        }
    }

    .buttons {
        button {
            text-transform: capitalize;
            height: 44px;
            width: 228px;
        }
        .button-outline-md-danger:hover:not(.disable-hover) {
            &:hover {
                background-color: #fff;
            }
        }
        h6 {
            text-transform: uppercase;
            color: #888;
            position: relative;
            &::before {
                @extend %horizontal-border;
            }
            &::after {
                @extend %horizontal-border;
                right: 0;
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= IOS CUSTOM OVERWRITE =-=-=-=-=-=-=-=-=*/
   .list-ios > .item-block:first-child {
       border-top: none;
   }
}
