<!-- Generated template for the PostsComponent component -->
<ion-card *ngFor="let post of posts">


  <ion-item>
    <h2 class="post-title">
      <strong>{{post.title}}</strong>
    </h2>

  </ion-item>

  <img *ngIf="post.img!=null" width="100%" height="auto" [attr.src]="post.img" class="embed-responsive-item" allowfullscreen>

  <ion-card-content padding>

    <p class="post-text">
      {{post.text}}
    </p>

    <div *ngIf='showButton' text-right>
      <ion-icon class='love-icon' name="heart-outline"></ion-icon>
      <!--
      <button  ion-button block color="dark">
        <strong>Show Interest</strong>
      </button>
    -->
    </div>

    <!-- Displayed Icons in Manage Posts Page -->
    <div *ngIf='adminBtn'>
      <div class="icon-wrapper" text-right>
        <button ion-button clear class="icon-btn">
          <ion-icon class="edit-icon" name="create"></ion-icon>
        </button>
        <button ion-button clear class="icon-btn" (click)="deletePost()">
          <ion-icon class="delete-icon" name="trash"></ion-icon>
        </button>

      </div>
    </div>

  </ion-card-content>
</ion-card>
