<!-- Generated template for the PostsComponent component -->

<p *ngIf="posts.length == 0" class="empty-list"> Nothing to show here </p> 
<ion-card *ngFor="let post of posts">


  <ion-item>
    <h2 class="post-title">
      <strong>{{post.title}}</strong>
    </h2>

  </ion-item>

  <img *ngIf="post.url!=null" width="100%" height="auto" [attr.src]="post.url" class="embed-responsive-item" allowfullscreen>

  <ion-card-content padding>

    <p class="post-text">
      {{post.content}}
    </p>

    <div *ngIf='showButton' text-right>
      <ion-icon class='love-icon' [color]="post.interested?'danger':'text'" 
      name="heart-outline" (click)="showInterest(post)"></ion-icon>
      <!--
      <button  ion-button block color="dark">
        <strong>Show Interest</strong>
      </button>
    -->
    </div>

    <!-- Displayed Icons in Manage Posts Page -->
    <div *ngIf='adminBtn'>
      <div class="icon-wrapper" text-right>
        <button ion-button clear class="icon-btn" (click)="editPost(post.id, post.title, post.content, post.url)">
          <ion-icon class="edit-icon" name="create"></ion-icon>
        </button>
        <button ion-button clear class="icon-btn" (click)="deletePost(post.id)">
          <ion-icon class="delete-icon" name="trash"></ion-icon>
        </button>

      </div>
    </div>

  </ion-card-content>
</ion-card>
