posts {
  $textColor: #404040;
  .post-title {
    text-align: left;
    color: $textColor;
    text-transform: capitalize;
  }
  .post-content {
    text-transform: capitalize;
    display: inline;
  }
  .post-text {
    text-align: left;
    color: $textColor;
    text-transform: capitalize;
  }
  .interest-button {
    height: 3rem;
    font-size: 1.3rem;
  }
  .icon-btn {
    margin-right: 11px;
    padding: 0;
  }
  .love-icon,
  .edit-icon,
  .delete-icon {
    font-size: 2rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
  }
  .edit-icon,
  .delete-icon {
    color: #4483f2;
  }
  .delete-icon {
      color: #f53d3d;
      margin-left: 10px;
  }
  .empty-list{
  text-align: center;
  color: #606060;
  padding: 1rem;
  font-size: 1.65rem;
  }
  span {
    color: rgb(131, 131, 131);
    text-transform: capitalize;
  }
}
