posts {
  $textColor: #404040;
  .post-title {
    text-align: left;
    color: $textColor
  }
  .post-text {
    text-align: left;
    color: $textColor
  }
  .interest-button {
    height: 3rem;
    font-size: 1.3rem;
  }
  .icon-btn {
    margin-right: 11px;
    padding: 0;
  }
  .love-icon, 
  .edit-icon,
  .delete-icon {
    font-size: 2rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
  }
  .edit-icon,
  .delete-icon { 
    color: $textColor;
  }
  .delete-icon {
      color: #f53d3d;
      margin-left: 10px;
  }
  .empty-list{ 
  text-align: center;
  color: #606060;
  padding: 1rem;
  font-size: 1.65rem;
  }
}
