<ion-header>
  <main-header title="Register"> </main-header>
</ion-header>

<ion-content padding class="body">
  <ion-item class="item-leave-height">
    <ion-label class="SignUpAs">Sign up As</ion-label>

    <ion-select [(ngModel)]="Selection">
      <ion-option value="Student">Student</ion-option>
      <ion-option value="Parent">Parent</ion-option>
    </ion-select>

  </ion-item>

  <div *ngIf="Selection=='Student' || Selection=='Parent' ">
    <div class="sub-header">
      Personal Data
    </div>
    <ion-item>
      <ion-input [(ngModel)]="userName" placeholder="Name" type="text" required></ion-input>
    </ion-item>
    <br/>
    <ion-item>
      <ion-input [(ngModel)]="password" placeholder="Password" type="text" required></ion-input>
    </ion-item>
    <br/>
    <ion-item>
        <ion-input [(ngModel)]="email" placeholder="Email" type="text" required></ion-input>
      </ion-item>
      <br/>
    <ion-item>
      <ion-input [(ngModel)]="mobile" placeholder="Mobile" type="text" required></ion-input>
    </ion-item>
    <br/>
    <ion-item>
      <ion-input [(ngModel)]="school" placeholder="School" type="text" required></ion-input>
    </ion-item>
    <br/>
  </div>

  <div *ngIf="Selection=='Student'">
    <ion-item>
      <ion-input [(ngModel)]="grade" placeholder="Grade" type="text" required></ion-input>
    </ion-item>
  </div>

  <div *ngIf="Selection=='Parent'">
    <div class="sub-header">
      Children Data
    </div>
    <div *ngFor="let child of children; let idx = index">
      <p class="children-labels">{{indexToWord(idx)}} child </p>
      <ion-item>
        <ion-input placeholder="Name" type="text" [(ngModel)]="children[idx].name" [ngModelOptions]='{standalone:true}' name="idx"></ion-input>

      </ion-item>
      <br/>
      <ion-item>
        <ion-input placeholder="Age." type="text" [(ngModel)]="children[idx].age" [ngModelOptions]='{standalone:true}' name="idx"></ion-input>
      </ion-item>
      <br>
    </div>
    <br>
    <button ion-button (click)="addInputs()">add anther child</button>
    <br/>
  </div>
  <div class="sign-up-button" *ngIf="Selection=='Student' || Selection=='Parent' ">
    <button ion-button block (click)="register()">Sign UP</button>
  </div>
</ion-content>