
<ion-content padding class="body">
 <ion-item class="item-leave-height">
    <ion-label class="SignUpAs">Sign up As</ion-label>
    <ion-select [(ngModel)]="Selection">
        <ion-option  value="Student">Student</ion-option>
        <ion-option value="Parent">Parent</ion-option>
        
    </ion-select>

</ion-item>
    
<div class="sub-header" *ngIf="Selection=='Student' || Selection=='Parent' ">
    Personal Data
</div> 
<form  *ngIf="Selection=='Student'" class="form">
  <ion-item>   
    <ion-input placeholder="enter Your Name" type="text" required  ></ion-input>
  </ion-item>
  <br/>
  <ion-item>   
    <ion-input placeholder="enter Your Age" type="text" required ></ion-input>
  </ion-item>
  <br/>
  <ion-item>   
    <ion-input placeholder="enter Your .." type="text" required ></ion-input>
  </ion-item>
  <br/>
  <ion-item>   
    <ion-input placeholder="enter Your .." type="text" required ></ion-input>
  </ion-item> 
  <br/> 
  <button ion-button type="submit" block>Sign UP</button>
</form>

<form  *ngIf="Selection=='Parent'" >
  <ion-item>   
    <ion-input placeholder="enter Your Name" type="text" required ></ion-input>
  </ion-item>
  <br/>
  <ion-item>   
    <ion-input placeholder="enter Your .." type="text" required ></ion-input>
  </ion-item>
  <br/>
  <ion-item>   
    <ion-input placeholder="enter Your .." type="text" required ></ion-input>
  </ion-item>

  <div class="sub-header" > 
      Children Data 
  </div>
<div  *ngFor="let child of children; let idx = index">
  <p class="children-labels">{{indexToWord(idx)}} child </p>
  <ion-item >
      <ion-input placeholder="name" type="text" [(ngModel)]="children[idx].name" [ngModelOptions]='{standalone:true}' name="idx"></ion-input>
      
    </ion-item>
    <br/>
    <ion-item >
        <ion-input placeholder="age." type="text" [(ngModel)]="children[idx].age" [ngModelOptions]='{standalone:true}' name="idx"></ion-input>
        <br/>
      </ion-item>
      
    </div>
    <br>
    
   <button ion-button (click)="addInputs()">add anther child</button>
   <br/>


  <button ion-button type="submit" block>Sign UP</button>
  
</form>

</ion-content>
