page-gallery {
    padding: 20%;
    .content{
        

    }
    .row{
        margin: auto;
        margin-top: 9px;
    }
    .col{
        margin: auto;
        display: block;

    }
    .img{
        height: 150px;
        width: 200px;
        display: block;
        margin: auto;
        
    }
    
}
