<p *ngIf="books.length == 0" class="empty-list"> Nothing to show here </p>

<ion-card class="book-card" *ngFor="let book of books">

  <ion-card-content>

    <ion-row> 
      <ion-col col-6 class="img-col">
        <img  width="100%" height="auto" [src]="book.imgUrl" class="book-img">
      </ion-col>

      <ion-col col-6 class="details">
        <div class="book-info">
          <h3>{{book.bookTitle}}</h3>
          <p>{{book.category}}</p>
        </div>

        <div *ngIf="!book.byAdmin" class="owner-info">
          <h3>owner</h3>
          <p>{{book.User.username}}</p>
          <p>{{book.User.mobile}}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="cash-footer">
      <ion-col col-8>
        <p>{{book.price}}EGP - {{book.paymentMethod}}</p>
      </ion-col>

      <ion-col col-4 class="btn-col" *ngIf="!admin">
        <button ion-button clear (click)="addToCart(book)" class="button-cart" [class.highlighted]="book.requested">
          <ion-icon [name]="book.requested? 'remove' : 'add'"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-4 class="btn-col" *ngIf="admin">
          <!-- <ion-icon class="edit-icon" name="create"></ion-icon>
          <ion-icon class="delete-icon" name="trash"></ion-icon> -->
        <button ion-button clear class="icon-btn button-admin" (click)="editBook(book)">
          <ion-icon class="edit-icon" name="create"></ion-icon>
        </button>
        <button ion-button clear class="icon-btn button-admin" (click)="deleteBook(post.id)">
          <ion-icon class="delete-icon" name="trash"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

  </ion-card-content>

</ion-card>
