%horizontal-border{    
    content: '';
    width: 129px;
    height: 1px;
    background-color: #ddd;
    display: block;
    position: absolute;
    top: 10px;
}

@mixin setHeight ($height) {
    height: $height;
}