page-add-books {
  .item {
    padding-left: 0;
    input,
    .text-input {
      text-transform: capitalize;
    }
  }
  .filter, .condition {
    margin-top: 26px;
  }
  .button {
    margin-top: 28px;
  }
}
