page-universities {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      margin-top: 20px;
      .layer {
        background-color: rgba(0, 0, 0, 0.9)
      }
      img {
        height: 130px;
        opacity: 0.5;
      }
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-transform: capitalize;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
  .col {
    padding: 0;
  }
  .col-6 {
    padding: 0;
  }
  .manage-btn {
    padding: 12px 20px 0px 20px;
  }
  .icon-btn {
    margin-right: 11px;
    padding: 0;
  }
  .love-icon, 
  .edit-icon,
  .delete-icon {
    font-size: 2rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
  }
  .delete-icon {
      color: #f53d3d;
      margin-left: 10px;
  }
  .empty-list{ 
    text-align: center;
    color: #606060;
    padding: 1rem;
    font-size: 1.65rem;
    }
}
