<ion-header>
  <main-header [title]="pageTitle"> </main-header>
</ion-header>

<ion-content padding>

    <button ion-button color="secondry" outline *ngIf="admin" (click)="openEditCourse(courseData)" class="addBtn">Edit Course</button>

  <p> {{courseData.description}}</p>
  <div>
    <p>This course will start on
      <span class="info">{{courseData.currentPeriod}}</span>
      . The next round will be on
      <span class="info">{{courseData.nextRound}}</span>
      . Course's cost is
      <span class="info">{{courseData.cost}}</span> EGP </p>
  </div>

  <p class="main-address">Course area preferred</p>

  <div *ngFor="let checkBox of checkBoxes;index as i">
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="checked[i]"> {{checkBox}}
    </label>
    <br>
    <br> 
  </div>

  <label class="checkbox">
    <input [(ngModel)]="otherCheckBox" type="checkbox">other :
    <input class="other" [(ngModel)]="otherText" type="text">
  </label>
 
  <!--
  <label class="checkbox">
    <input type="checkbox" [(ngModel)]="boolArr[0]"> Zayed
  </label>
  <br>
  <br> 
  <label class="checkbox">
    <input type="checkbox" [(ngModel)]="boolArr[0]"> Zayed
  </label>
  <br>
  <br>
  <label class="checkbox">
    <input type="checkbox" [(ngModel)]="boolArr[1]"> New Cairo
  </label>
  <br>
  <br>
  <br>
  <br>
  <br>
-->
  <p class="main-address">Time to communicate </p>
  <ion-item>
    <ion-label>Times</ion-label>
    <ion-select [(ngModel)]="time" multiple="false">
      <ion-option value="9 AM - 4 PM">9 AM - 4 PM </ion-option>
      <ion-option value="4 PM - 8 PM">4 PM - 8 PM </ion-option>
    </ion-select>

  </ion-item>
  <br>
  <br>
  <button ion-button block (click)='addEslRequest()'>submit </button>
</ion-content>